{
  "trailingComma": "none",
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "jsxSingleQuote": false,
  "printWidth": 100,
  "useTabs": false,
  "endOfLine": "lf"
}
